* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    /* background-color: #f4f4f4f4; */
    background-image: url("Image\ 1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

main {
    /* background-color: #ffff; */
    background: transparent;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: auto;
}

label, input, select, button {
    margin: 10px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
    overflow: auto;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #f2f2f2;
}

tbody {
    max-height: 600px;
    overflow-y: auto;
}